* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Open Sans", Arial, Sans-serif;
  font-size: 16px; }

header {
  background: url(../img/bg.jpg), #019851;
  background-size: cover;
  background-position: center 0;
  background-repeat: no-repeat; }
  header .contenedor_logo_menu {
    padding: 25px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4); }
    header .contenedor_logo_menu .logo a {
      display: block; }
      header .contenedor_logo_menu .logo a img {
        vertical-align: top; }
    header .contenedor_logo_menu .menu {
      line-height: 50px; }
      header .contenedor_logo_menu .menu a {
        color: #fff;
        margin-left: 60px;
        font-size: 18px; }
  header .texts {
    color: #fff;
    text-align: center;
    margin: 200px 0; }
    header .texts .first_line,
    header .texts .second_line {
      font-family: "Open Sans", Arial, Sans-serif;
      font-weight: 300; }
    header .texts .first_line {
      font-size: 35px;
      list-style: 35px;
      margin-bottom: 30px; }
    header .texts .second_line {
      font-size: 25px;
      list-style: 25px;
      margin-bottom: 60px; }
    header .texts .contenedor-btns a {
      border-radius: 4px;
      border: 2px solid #fff;
      color: #fff;
      padding: 12px 0;
      font-weight: 600;
      width: 235px;
      margin: 0 10px; }
      header .texts .contenedor-btns a:hover {
        text-decoration: none;
        background: #fff;
        color: #4f4f4f; }

.main .low {
  padding: 70px 0; }
  .main .low .title {
    text-align: center;
    font-family: "Open Sans", Arial, Sans-serif;
    font-weight: 300;
    font-size: 32px;
    color: #000;
    margin-bottom: 70px; }
  .main .low .low {
    text-align: center; }
    .main .low .low .icon {
      vertical-align: top;
      margin-bottom: 30px; }
    .main .low .low .first_line {
      font-weight: 700;
      margin-bottom: 30px;
      font-size: 20px; }
    .main .low .low .paragraph {
      margin-bottom: 30px;
      line-height: 28px; }
.main .photos {
  margin-bottom: 70px; }
  .main .photos .photo {
    margin-bottom: 20px; }
    .main .photos .photo .thumb img {
      border-radius: 3px;
      width: 100%;
      vertical-align: top; }
    .main .photos .photo .title {
      margin-top: 70px;
      margin-bottom: 40px;
      font-size: 32px;
      line-height: 32px;
      font-weight: 300; }
      .main .photos .photo .title.blue {
        color: #4facd3; }
      .main .photos .photo .title.orange {
        color: #ddb146; }
    .main .photos .photo .paragraph {
      line-height: 28px; }
    .main .photos .photo .right {
      text-align: right; }
.main .clients {
  background: #2d353e;
  padding: 40px 0; }
  .main .clients .title {
    text-align: center;
    font-family: "Open Sans", Arial, Sans-serif;
    font-weight: 300;
    font-size: 32px;
    color: #fff;
    margin-bottom: 40px; }
  .main .clients .client {
    text-align: center; }
    .main .clients .client a {
      display: block; }

/* esential import header */

/*# sourceMappingURL=styles.css.map */
